
@{
    ViewData["Title"] = "View Synthetic Data";
}

<h4>Generated Synthetic Data</h4>
<hr />
<div class="row">

    <div class="col-md-12">
        <table id="PO_table" class="table table-striped table-bordered" style="width:100%"></table>

    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src=" https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        $('.upload-btn1').on('click', function (e) {

            e.preventDefault();
            $(".file-input").trigger("click");
        })

        $('.file-input').on('change', function (e) {
            $('#error-message').text("");
            //var fInputEle = $('this');

            var file = this.files[0];
            //
            if (file !== null) {
                filename = file.name;
                var ext = filename.split('.').pop().toLowerCase();
                if (ext == "csv") {
                    //var formData = new FormData();
                    //formData.append('file', file);
                    $("#upbtn").html("File Saved/Click to change");
                    //
                    //$(".file-input").val(filename);


                }

                else {

                    $('#error-message').text("Uploaded file is invalid, kindly upload a valid file");
                }

            }


        })


         $(function () {
             setTimeout(function () { $('#errorMsg').fadeOut(); }, 1000);

             $(window).click(function () { $('#errorMsg').fadeOut(); });
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();


            });


            $('body').on('click', '.modal-close-btn', function () {
                $('#responsePopup').modal('hide');
                $('#responsePopup').removeData('bs.modal');

            });

            $('#responsePopup').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');

            });

            var peopleList = $('#PO_table').DataTable({
                serverSide: true,
                processing: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                ajax: {
                    url: '@Url.Action("GetSyUploads", "Seismic",new { Id = ViewBag.Id })',
                    type: "POST"
                },
                //rowId:'Id',
                columns: [
                    { data: 'Sy', title: 'Generated Synthetic Data' },
                ],


                });
            });
    </script>
}



